<% include ../common/header.ejs %>


<div class="create-artical">
    <form class="ui form segment" method="POST" action="/create" enctype="multipart/form-data">
        <div class="field required">
            <label>标题</label>
            <input type="text" name="title" class="ui">
        </div>
        <div class="field required">
            <label>作者</label>
            <input type="text" name="author" class="ui">
        </div>
        <div class="field required">
            <label>简介</label>
            <textarea name="content" rows="8" class="ui"></textarea>
        </div>
        <div class="field required">
            <label>分类</label>
            <select name="category">

                <% for (var i = 0; i < categorys.length; i++) { %>
                <% var categoty = categorys[i] %>
                <option value ="<%= categoty.name%>"><%= categoty.name%></option>
                <% } %>
            </select>
        </div>

        <div class="field required">
            <label>选择文件</label>
            <input type="file" name="articalFile">
        </div>

        <div class="field required">
            <input type="submit" value="发布">
        </div>


    </form>

</div>


<style type="text/css">
    .field {
        margin-top: 10px;
    }
    .create-artical {
        margin: 0 auto;
        width: 500px;
    }
    .ui {
        width: 500px;
    }
</style>

<% include ../common/footer.ejs %>