<% include ../common/header.ejs %>
<% include ../common/navbar.ejs %>

<div class="container-fluid">
    <div class ="artical"><h1><%= artical.title%></h1>
        <%-  content%>
    </div>


</div>

<style type="text/css">
    .artical {
        margin: 0 auto;
        width: 60%;
    }
</style>


<% include ../common/footer.ejs %>

